.navbar {
    border-bottom: 1px solid grey;
    background-color: white;
}

.mainPhoto {
    width: 1280px;
    height: 480px;
}

.title {
    border-bottom: 4px solid rgb(239, 239, 239);
    margin-right: 20%;
    margin-left: 20%;
}

.contactNumber {
    margin-right: 5%;
}

.transbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px;
    background-color: rgb(204, 204, 204, 0.7);
    border: 1px solid rgb(222, 216, 216);
    box-shadow: 0 3px 5px 0 grey;
}

.col {
    margin-left: 5%;
    margin-bottom: 5%;
}

/* Buttons */

.navbarButton {
    margin: 0 10px;
    background-color: white !important;
    border-bottom: 1px solid grey !important;
}

.cardButton {
    background-color: white;
    margin: 0 auto;
    display: block;
}