.contactDetails {
    margin: 5% 0 8% 5%
}

.contactDetailsBackground {
    background-image: url('../img/kuchnia_na_wymiar.jpg');
    background-size: cover;
}

.contactInfoTransbox {
    display: block;
    border: 1px solid white;
    background-color: rgb(230, 230, 230, 0.8);
    margin: 5% 45% 10% 5%;
}

.form {
    position: absolute;
    width: 45%;
    margin: 4% 5% 5% 48%;
}

.alert {
    height: 60px;
}

.map {
    height: 300px;

}